{% extends "Base.html" %}
{% load static %}

<!-- Conatiner CSS -->
{% block css %}
<link rel="stylesheet" href=" {% static 'Plataforma/css/FormularioSelect.css' %}">
{% endblock %}
<!-- End Conatiner CSS -->

{% block content %}
<div class="container-form">
  <div class="form">
    <div class="contact-info">
      <h3 class="title">Atención a la población </h3>
      <p class="text">
        En nuestro centro de atención a la población, nos esforzamos por brindar un servicio de calidad y cercanía a
        todos los ususarios.
        Nos comprometemos a escuchar sus necesidades, preocupaciones y para poder ofrecerles la mejor atención posible.
      </p>
      <div class="info">
        <div class="information">
          <i class="bx bx-map-alt" class="icon"></i>
          <p>Avenida XX Aniversario s/n Piedra Blanca, Holguín, Cuba</p>
        </div>
        <div class="information">
          <i class="bx bx-envelope" class="icon"></i>
          <p>tramitesuho@gmail.com</p>
        </div>
        <div class="information">
          <i class="bx bx-phone" class="icon"></i>
          <p>+53 55568719</p>
        </div>
      </div>
    </div>
    <div class="contact-form">
      <span class="circle one"></span>
      <span class="circle two"></span>
      <form action="." method="POST">
        {% csrf_token %}
        <h3 class="title">Contactanos</h3>
        <div id="error-container">

        </div>
        {% if response %}
        {% if response == 'correcto' %}
        <div class="alert alert-success alert-dismissible fade show" role="alert"
          style="height:40px; position: fixed; right: 20px; top: 50px; display: flex; align-items: center; padding-right: 0rem;">
          {{ message }}
          <button style="font-size: 10px; border-bottom: none; position: relative; box-shadow: none;" type="button"
            class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </button>
        </div>
        {% endif %}
        {% endif %}
        <div class="input-container select-municipio">
          <input type="hidden" name="municipality" required>
          <div class="input selector">
          </div>
          <label for="">Municipio</label>
          <span>Municipio</span>
        </div>
        <div class="select-options">
          <div aria-valuetext="Antilla" class="element">Antilla</div>
          <div aria-valuetext="Banes" class="element">Banes</div>
          <div aria-valuetext="Báguano" class="element">Báguano</div>
          <div aria-valuetext="Cacocum" class="element">Cacocum</div>
          <div aria-valuetext="Calixto García" class="element">Calixto García</div>
          <div aria-valuetext="Cueto" class="element">Cueto</div>
          <div aria-valuetext="Frank País" class="element">Frank País</div>
          <div aria-valuetext="Gibara" class="element">Gibara</div>
          <div aria-valuetext="Holguín" class="element">Holguín</div>
          <div aria-valuetext="Mayarí" class="element">Mayarí</div>
          <div aria-valuetext="Moa" class="element">Moa</div>
          <div aria-valuetext="Rafael Freyre" class="element">Rafael Freyre</div>
          <div aria-valuetext="Sagua de Tánamo" class="element">Sagua de Tánamo</div>
          <div aria-valuetext="Urbano Noris" class="element">Urbano Noris</div>
        </div>
        <div class="input-container select-consulta">
          <input type="hidden" name="consulta" required>
          <div class="input selector ">
          </div>
          <label for="">Tipo de consulta</label>
          <span>Tipo de consulta</span>
        </div>
        <div class="select-options-consulta">
          <div aria-valuetext="Duda" class="element">Duda</div>
          <div aria-valuetext="Queja" class="element">Queja</div>
          <div aria-valuetext="Solicitid de Infomación" class="element">Solicitud de Infomación</div>
        </div>
        <div class="input-container">
          <input type="text" name="subject" class="input" id="asunto" required>
          <label for="">Asunto</label>
          <span>Asunto</span>
        </div>
        <div class="input-container textarea">
          <textarea name="message" class="input" id="inputText" required></textarea>
          <label for="">Mensaje</label>
          <span>Mensaje</span>
        </div>
        <input type="submit" value="Enviar" id="boton" class="btn1">
      </form>
    </div>
  </div>
</div>
{% endblock %}

<!-- Conatiner JS -->
{% block js %}
<script>
 /*
* Seccion de Select
*/
const selectInput = document.querySelector(".select-municipio")
//const selectElements = document.querySelectorAll(".select-options .element")
const selectElements = document.querySelector(".select-options")
let selection = false

selectInput.addEventListener("click", () => {
    selectInput.classList.toggle("focused")
    if (!selection){
        selectInput.classList.toggle("focus")
        if ( Array.from(selectInput.classList).indexOf("focus") != -1 ){
            selectInput.children[1].innerText = "Selecciona un Municipio"
        } else {
            selectInput.children[1].innerText = ""
        }
    }
})

selectElements.addEventListener("click", (e) => {
    if (e.target.className === "element"){
        let trueField = selectInput.children[0]
        let fakeField = selectInput.children[1]
        trueField.value = e.target.ariaValueText
        fakeField.innerText = e.target.innerText
        selection = true
        selectInput.classList.toggle("focused")
    }
})
</script>
<script>
  /*
 * Seccion de Select
 */
 const selectInputConsulta = document.querySelector(".select-consulta")
 //const selectElements = document.querySelectorAll(".select-options .element")
 const selectElementsConsulta = document.querySelector(".select-options-consulta")
 let selectionConsulta = false
 
 selectInputConsulta.addEventListener("click", () => {
     selectInputConsulta.classList.toggle("focused")
     if (!selectionConsulta){
         selectInputConsulta.classList.toggle("focus")
         if ( Array.from(selectInputConsulta.classList).indexOf("focus") != -1 ){
             selectInputConsulta.children[1].innerText = "Selecciona un tipo de consulta"
         } else {
             selectInputConsulta.children[1].innerText = ""
         }
     }
 })
 
 selectElementsConsulta.addEventListener("click", (e) => {
     if (e.target.className === "element"){
         let trueField = selectInputConsulta.children[0]
         let fakeField = selectInputConsulta.children[1]
         trueField.value = e.target.ariaValueText
         fakeField.innerText = e.target.innerText
         selectionConsulta = true
         selectInputConsulta.classList.toggle("focused")
     }
 })
 </script>
<script src="{% static 'Plataforma/js/FormularioSelect.js' %}"></script>
<script src="{% static 'Plataforma/js/Trim AtencionP.js' %}"></script>
{% endblock %}
<!-- End Conatiner JS -->