{% extends "Base Admin.html" %}
{% load static %}

<!-- Conatiner CSS -->
{% block css %}
<link rel="stylesheet" href=" {% static 'Plataforma/css/Sitio Administrativo.css' %}">
<link rel="stylesheet" href=" {% static 'Plataforma/libs/Datatable/CSS/dataTables.bootstrap5.css' %}">
<link rel="stylesheet" href=" {% static 'Plataforma/libs/Datatable/CSS/buttons.bootstrap5.css' %}">
<link rel="stylesheet" href=" {% static 'Plataforma/libs/Datatable/CSS/responsive.bootstrap5.css' %}">
<link rel="stylesheet" href=" {% static 'Plataforma/css/datatable.css' %}">
{% endblock %}
<!-- End Conatiner CSS -->

{% block content %}
  <main class="content-inside px-3 py-2">
        <section class="mb-2 row row-gap-1 ">
          <section class="col-md-6 col-sm-12" id="graficaBarTrámites">
            <div class="card">
              <div class="p-2">
              <div id="myChartBar">
              </div>
            </div>
          </div>
          </section>

          <section class="col-md-6 col-sm-12" id="graficaPieTrámites">
            <div class="card">
              <div class="p-2">
              <div id="myChartPie">
              </div>
            </div>
          </div>
         </section>
        </section>

        <section class="mb-2 row row-gap-1 ">
         <section class="col-md-6 col-sm-12" id="graficaPieTrámites">
            <div class="card">
              <div class="p-2">
              <div id="myChartPieModulo">
              </div>
            </div>
          </div>
         </section>

            <section class="col-md-6 col-sm-12" id="graficaBarTrámites">
              <div class="card">
                <div class="p-2">
                <div id="myChartBarFueraFecha">
                </div>
              </div>
            </div>
            </section>
        </section>
  </main>
 
  {% endblock %}

  <!-- Conatiner JS -->
  {% block js%}
  <!--Inicializar Charts-->
  <script src="{% static 'Plataforma/libs/Highcharts/code/highcharts.js' %}"></script>
  <script src="{% static 'Plataforma/libs/Highcharts/code/modules/accessibility.js' %}"></script>
  <script src="{% static 'Plataforma/libs/Highcharts/code/modules/exporting.js' %}"></script>
  <script src="{% static 'Plataforma/libs/Highcharts/code/modules/offline-exporting.js' %}"></script>
  <script src="{% static 'Plataforma/libs/Highcharts/code/modules/export-data.js' %}"></script>
  <script src="{% static 'Plataforma/libs/Highcharts/newChart.js' %}"></script>
  {% endblock %}
  <!-- End Conatiner JS -->