{% extends "Base.html" %}
{% load static %}

<!-- Conatiner CSS -->
{% block css %}
<link rel="stylesheet" href=" {% static 'Plataforma/css/Inicio.css' %}">
{% endblock %}
<!-- End Conatiner CSS -->

{% block content %}
<section>
  <div class="container">
    <div class="row mb-3 mt-3">
      <div class="offset-lg-3 col-lg-6 text-center">
        <h3 class="" style="color: #005296;">¿Quiénes somos?</h3>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="offset-lg-2 col-lg-3 col-md-4">
        <div class="start-img mb-5  ">
          <img src="{% static 'Plataforma/img/1.jpg' %}" alt="" class="img-fluid imagen">
        </div>
      </div>
      <div class="col-lg-5 col-md-8 centrar-texto">
        <p>En la Universidad de Holguín, apostamos por la innovación y la tecnología como herramientas clave para
          mejorar la eficiencia y la calidad de nuestros servicios.
          Nuestro objetivo es brindar un servicio de calidad, accesible y seguro a toda nuestra comunidad universitaria.
          Nuestro compromiso es seguir mejorando y actualizando constantemente esta herramienta para satisfacer las
          necesidades y expectativas de nuestra comunidad universitaria.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row mb-3 mt-3">
      <div class="text-center">
        <h3 class="" style="color: #005296;">¿Qué hacemos?</h3>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="offset-lg-2 col-lg-3 col-md-4">
        <div class="start-imgen mb-5  ">
          <img src="{% static 'Plataforma/img/2.jpg' %}" alt="" class="img-fluid imagen">
        </div>
      </div>
      <div class="col-lg-5 col-md-8 centrar-texto">
        <ul>
          <li>
            <p>Actualización constante: Nos mantenemos al tanto de las necesidades y requerimientos de nuestra comunidad
              universitaria para actualizar y mejorar continuamente nuestra plataforma de trámites y servicios.</p>
          </li>
          <li>
            <p>Mejora de la usabilidad: Trabajamos en la simplificación y mejora de la interfaz de usuario para que sea
              más intuitiva y fácil de usar, garantizando una experiencia fluida para todos los usuarios.</p>
          </li>
          <li>
            <p>Ampliación de servicios: Buscamos ampliar la gama de trámites y servicios disponibles en la plataforma
              para cubrir las necesidades de nuestros estudiantes, docentes y personal administrativo de manera
              integral.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container ">
    <div class="row mb-3 mt-3">
      <div class="offset-lg-3 col-lg-6 text-center">
        <h3 class="" style="color: #005296;">¿Qué queremos lograr?</h3>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="offset-lg-2 col-lg-3 col-md-4">
        <div class="start-img mb-5  ">
          <img src="{% static 'Plataforma/img/3.jpg' %}" alt="" class="img-fluid imagen">
        </div>
      </div>
      <div class="col-lg-5 col-md-8 centrar-texto">
        <p>
          Queremos que nuestra plataforma sea un espacio donde los usuarios puedan realizar sus trámites de forma
          rápida, sencilla y segura, sin complicaciones ni demoras innecesarias.
          Buscamos facilitar la vida de nuestros estudiantes, docentes y personal administrativo, brindando herramientas
          digitales que les permitan gestionar sus trámites académicos, administrativos y personales de manera ágil y
          efectiva.
          Queremos que nuestra plataforma sea un aliado en el día a día de nuestros usuarios, ofreciéndoles soluciones
          prácticas y tecnológicas que simplifiquen sus procesos y optimicen su tiempo.</p>
      </div>
    </div>
  </div>
</section>

<section class="acordion">
  <div class="container">
    <div class="row mb-3 mt-3">
      <div class="offset-lg-3 col-lg-6 text-center">
        <h3 class="" style="color: #005296;">Preguntas frecuentes</h3>
      </div>
    </div>
    <div class="row alig-item-center">
      <div class="offset-lg-2 col-lg-8 mb-5">
        <div class="accordion row-acordion accordion-flush bg-primary shadow" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                ¿La plataforma está disponible las 24 horas del día?
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <p>Sí, nuestra plataforma de trámites y servicios está disponible las 24 horas del día, los 7 días de la
                  semana. Los usuarios pueden acceder a ella en cualquier momento para realizar sus trámites de forma
                  conveniente y oportuna.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                ¿Qué trámites pueo realizar a través de la plataforma?
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <p>La plataforma de trámites y servicios de la Universidad de Holguín permite realizar una variedad de
                  trámites académicos y administrativos como certificaciones, consulta de clalificaciones, solicitud de
                  documentos, entre otros.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                ¿Qué debo hacer si olvidé mi contraseña?
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">En caso de olvidar la contraseña, los usuarios pueden utilizar la opción de
                recuperar contraseña que se encuentra en la pagína de Inicio de sesión de la plataforma.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}