{% extends "Base Admin.html" %}
{% load static %}

<!-- Conatiner CSS -->
{% block css %}
<link rel="stylesheet" href=" {% static 'Plataforma/css/Crear Noticia.css' %}">
{% endblock %}
<!-- End Conatiner CSS -->

{% block content %}
<div class="container-form">
    <div class="form">
        <div class="contact-info">
            <h3 class="title">Grupos </h3>
            <p class="text">
                Si tienes información relevante, interesante o impactante que qieras compartir con el mundo ¡Esta es tu
                oportunidad! Envianos tus noticias y ayuda
                a mantener nuestra sociedad informada y actualizada.
            </p>
        </div>
        <div class="contact-form">
            <span class="circle one"></span>
            <span class="circle two"></span>
            <form action="." method="POST">
                {% csrf_token %}
                <h3 class="title">Crear Grupo</h3>
                <div class="input-container focus">
                    {{ form.name }}
                    <label for="">Nombre</label>
                    <span>Nombre</span>
                </div>
                <input type="submit" value="Aceptar" class="btn1">
            </form>
        </div>
    </div>
</div>
{% endblock %}

<!-- Conatiner JS -->
{% block js %}
<script src="{% static 'Plataforma/js/FormularioSelect.js' %}"></script>
{% endblock %}
<!-- End Conatiner JS -->