{% extends "Base.html" %}
{% load static %}

<!-- Conatiner CSS -->
{% block css %}
<link rel="stylesheet" href=" {% static 'Plataforma/css/Sitio Administrativo.css' %}">
<link rel="stylesheet" href=" {% static 'Plataforma/libs/Datatable/CSS/dataTables.bootstrap5.css' %}">
<link rel="stylesheet" href=" {% static 'Plataforma/libs/Datatable/CSS/buttons.bootstrap5.css' %}">
<link rel="stylesheet" href=" {% static 'Plataforma/libs/Datatable/CSS/responsive.bootstrap5.css' %}">
<link rel="stylesheet" href=" {% static 'Plataforma/css/datatable.css' %}">
{% endblock %}
<!-- End Conatiner CSS -->

{% block content %}
<main class="content-inside px-3 py-2 mx-2">
    <section>
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">
                    Mis Trámites
                </h5>
            </div>
            <div class="p-2">
            <table id="Tramites" class="display table table-striped table-hover table-primary" style="width:100%">
                <thead class="encabezado">
                    <tr>
                        <th scope="col" style="color: white; text-align: start;">#</th>
                        <th scope="col" style="color: white; text-align: start;">Carnet</th>
                        <th scope="col" style="color: white; text-align: start;">Tipo de Trámite</th>
                        <th scope="col" style="color: white; text-align: start;">Estado del Trámite</th>
                        <th scope="col" style="color: white; text-align: start;">Eliminar</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align: start;">{{ forloop.counter }}</td>
                        <td style="text-align: start;">01060578004</td>
                        <td style="text-align: start;">Certificacion del titulo</td>
                        <td style="text-align: start;">En espera</td>
                        <td style="text-align: center; font-size: 1.2rem;"><a class="iconos" href="#"><i
                                    class="bx bx-trash"></i></a></td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </section>
</main>
{% endblock %}

<!-- Conatiner JS -->
{% block js %}
<script src="{% static 'Plataforma/libs/Datatable/JS/jquery-3.7.1.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/dataTables.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/dataTables.bootstrap5.js' %}"></script>
<!--Botones DataTables-->
<script src="{% static 'Plataforma/libs/Datatable/JS/dataTables.buttons.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/buttons.bootstrap5.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/jszip.min.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/pdfmake.min.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/vfs_fonts.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/buttons.html5.min.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/buttons.print.min.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/bottons.colVis.min.js' %}"></script>
<!--DataTables responsivo-->
<script src="{% static 'Plataforma/libs/Datatable/JS/dataTables.responsive.js' %}"></script>
<script src="{% static 'Plataforma/libs/Datatable/JS/responsive.bootstrap5.js' %}"></script>
<!--Inicializar DataTables-->
<script src="{% static 'Plataforma/libs/Datatable/JS/Mis Tramites.js' %}"></script>
{% endblock %}
<!-- End Conatiner JS -->