{% extends "Base Admin.html" %}
{% load static %}

<!-- Conatiner CSS -->
{% block css %}
<link rel="stylesheet" href=" {% static 'Plataforma/css/Sitio Administrativo.css' %}">
<link rel="stylesheet" href=" {% static 'Plataforma/css/Noticias.css' %}">
{% endblock %}
<!-- End Conatiner CSS -->


{% block content %}
<main class="content-inside px-3 py-2 mx-2">
    {% if noticias %}
    <section>
        <div class="d-flex justify-content-end mb-2 mt-1 ">
            <a href="{% url 'CrearNoticia' %}" class="btn btn-primary btn-sm">Crear Noticia</a>
        </div>
    </section>
    {% for noticia in noticias %}
    <section>
        <div class="card">
            <span class="fecha">{{ noticia.on_create }}</span>
            <hr>
            <div>
                <h6 class="title">{{ noticia.titulo }}</h6>
                <p class="text">{{ noticia.cuerpo }}</p>
            </div>
            <hr>
            <div class=" d-flex justify-content-end mx-2 gap-1 pb-1">
                <a href="{% url 'EditarNoticia' noticia.id %}" class="btn btn-primary btn-sm"><i class="bx bx-edit"></i></a>
                <a href="{% url 'EliminarNoticia' noticia.id %}" class="btn btn-primary btn-sm"><i class="bx bx-trash"></i></a>
            </div>
        </div>
    </section>
    {% endfor %}
    {% else %}
    <section class="d-flex flex-column justify-content-center align-content-center">
        <p class="text text-center">
            No hay noticias hechas recientemente
        </p>
        <div class="d-flex justify-content-center mb-2 mt-1 ">
            <a href="{% url 'CrearNoticia' %}" class="btn btn-primary">Crear Noticia</a>
        </div>
    </section>
    {% endif %}
</main>
{% endblock %}

<!-- Conatiner JS -->
{% block js%}
{% endblock %}
<!-- End Conatiner CSS -->