{% extends "navbar_administracion.html" %}
{% load static %}

<!-- Conatiner CSS -->
{% block css %}
<link rel="stylesheet" href=" {% static 'css/Sitio Administrativo.css' %}">
<link rel="stylesheet" href=" {% static 'libs/Datatable/CSS/dataTables.bootstrap5.css' %}">
<link rel="stylesheet" href=" {% static 'libs/Datatable/CSS/buttons.bootstrap5.css' %}">
<link rel="stylesheet" href=" {% static 'libs/Datatable/CSS/responsive.bootstrap5.css' %}">
<link rel="stylesheet" href=" {% static 'css/datatable.css' %}">
{% endblock %}
<!-- End Conatiner CSS -->

{% block content %}
<div class="main" style="padding-top:60px;">
  <main class="content-inside px-3 py-2">
    <div class="container-fluid">
      <div class="container-fluid">
        <section class="mb-2 row row-gap-1">
            <section class="col-md-6 col-sm-12" id="graficaPieTrámites">
                <div class="card">
                   <div class="p-2">
                    <div id="completados">
                    </div>
                  </div>
                </div>
            </section>
            <section class="col-md-6 col-sm-12" id="graficaPieTrámites">
                <div class="card">
                   <div class="p-2">
                    <div id="graficaTramites">
                    </div>
                  </div>
                </div>
            </section>
        </section>
          <!--Table Element-->
          
          <section id="tablaTramites">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title" style="padding-top:15px;">
                  Trámites en Estado Completado
                </h5>
              </div>
              <div class="p-2">
              <table id="Tramites_Completados" class="display table table-striped table-hover table-primary" style="width:100%">
                <thead class="encabezado">
                    <tr>
                        <th scope="col" style="color: white; text-align: center;">No</th>
                        <th scope="col" style="color: white; text-align: center;">Nombre</th>
                        <th scope="col" style="color: white; text-align: center;">Apellidos</th>
                        <th scope="col" style="color: white; text-align: center;">Estudio</th>
                        <th scope="col" style="color: white; text-align: center;">Uso</th>
                        <th scope="col" style="color: white; text-align: center;">Tr&aacute;mite</th>
                        <th scope="col" style="color: white; text-align: center;">C&oacute;digo</th>
                      </tr>
                </thead>
                <tbody>
                    {% for t in tramites_completados %}
                    <tr>
                      <td style=" text-align: center;">{{forloop.counter}}</td>
                      <td style=" text-align: start;">{{t.nombre}}</td>
                      <td style=" text-align: start;">{{t.apellidos}}</td>
                      <td style=" text-align: start;">
                        {% if t.tipo_estudio %}
                          {{t.tipo_estudio}}
                        {% elif t.tipo_est %}
                          {{t.tipo_est}}
                        {% endif %}
                      </td>
                      <td style="text-align: start;">
                        {% if t.uso %}
                            {{ t.uso }}
                        {% else %}
                          {{ t.uso_i }}
                        
                            {# Opcional: manejar el caso en que ninguno de los dos campos esté establecido, aunque mencionaste que siempre habrá uno de ellos con un valor #}
                        {% endif %}
                      </td>
                      <td style=" text-align: start;">
                        {% if t.tipo_pren and t.tipo_prei and t.tipo_posn and t.tipo_posi %}
                          {{ t.tipo_pren }} {{ t.tipo_prei }} {{ t.tipo_posn }} {{ t.tipo_posi }}
                        {% elif not t.tipo_pren and not t.tipo_prei and not t.tipo_posn and not t.tipo_posi %}
                          {{ t.legalizacion }}
                        {% else %}
                          {{ t.tipo_pren }} {{ t.tipo_prei }} {{ t.tipo_posn }} {{ t.tipo_posi }}
                        {% endif %}
                      </td>
                      <td style=" text-align: start;">{{t.numero_seguimiento}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
        </section>
        
      </div>
  </main>
</div>
 
  {% endblock %}

  <!-- Conatiner JS -->
  {% block js%}
  <script src="{% static 'Plataforma/libs/Datatable/JS/jquery-3.7.1.js' %}"></script>
  <script src="{% static 'Plataforma/libs/Datatable/JS/dataTables.js' %}"></script>
  <script src="{% static 'Plataforma/libs/Datatable/JS/dataTables.bootstrap5.js' %}"></script>
  
  <script src="{% static 'libs/Datatable/JS/dataTables.buttons.js' %}"></script>
  <script src="{% static 'libs/Datatable/JS/buttons.bootstrap5.js' %}"></script>
  <script src="{% static 'libs/Datatable/JS/jszip.min.js' %}"></script>
  <script src="{% static 'libs/Datatable/JS/pdfmake.min.js' %}"></script>
  <script src="{% static 'libs/Datatable/JS/vfs_fonts.js' %}"></script>
  <script src="{% static 'libs/Datatable/JS/buttons.html5.min.js' %}"></script>
  <script src="{% static 'libs/Datatable/JS/buttons.print.min.js' %}"></script>
  <script src="{% static 'libs/Datatable/JS/bottons.colVis.min.js' %}"></script>
  
  <script src="{% static 'libs/Datatable/JS/dataTables.responsive.js' %}"></script>
  <script src="{% static 'libs/Datatable/JS/responsive.bootstrap5.js' %}"></script>
  
  <script src="{% static 'libs/Datatable/JS/Tramites_Completados.js' %}"></script>
  <script src="{% static 'libs/Highcharts/code/highcharts.js' %}"></script>
  <script src="{% static 'libs/Highcharts/code/modules/accessibility.js' %}"></script>
  <script src="{% static 'libs/Highcharts/code/modules/exporting.js' %}"></script>
  <script src="{% static 'libs/Highcharts/code/modules/offline-exporting.js' %}"></script>
  <script src="{% static 'libs/Highcharts/code/modules/export-data.js' %}"></script>
  
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      console.log({{ data_grafica_completados|safe }});
      console.log({{ datos_pregrado|safe }});
      console.log({{ datos_posgrado|safe }});

      var dataSeries = {{ data_grafica_completados|safe }};
      Highcharts.chart('completados', {
          chart: {
              type: 'pie'
          },
          title: {
              text: 'Completados por modalidad'
          },
          tooltip: {
              valueSuffix: '%'
          },
          plotOptions: {
              series: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: [{
                      enabled: true,
                      distance: 20
                  }, {
                      enabled: true,
                      distance: -40,
                      format: '{point.percentage:.1f}%',
                      style: {
                          fontSize: '1.2em',
                          textOutline: 'none',
                          opacity: 0.7
                      },
                      filter: {
                          operator: '>',
                          property: 'percentage',
                          value: 10
                      }
                  }]
              }
          },
          series: [{
              name: 'Percentage',
              colorByPoint: true,
              data: dataSeries.map(function(point) {
                  return {
                      name: point.categoria,
                      y: point.cantidad
                  };
              })
          }]
        }); 

        Highcharts.chart('graficaTramites', {
            chart: {
                type: 'pie'
            },
            title: {
                text: 'Proporción de Trámites Completados'
            },
            series: [{
                name: 'Trámites',
                data: JSON.parse('{{ data_grafica_porcent|escapejs }}')
            }]
        });
    });
    
      
   
  
</script>
  {% endblock %}
  <!-- End Conatiner JS -->
