{% extends "navbar_administracion.html" %}
{% load static %}

<!-- Conatiner CSS -->
{% block css %}
<link rel="stylesheet" href=" {% static 'css/Sitio Administrativo.css' %}">
<link rel="stylesheet" href=" {% static 'libs/Datatable/CSS/dataTables.bootstrap5.css' %}">
<link rel="stylesheet" href=" {% static 'libs/Datatable/CSS/buttons.bootstrap5.css' %}">
<link rel="stylesheet" href=" {% static 'libs/Datatable/CSS/responsive.bootstrap5.css' %}">
<link rel="stylesheet" href=" {% static 'css/datatableSD.css' %}">
{% endblock %}
<!-- End Conatiner CSS -->

{% block content %}
<div class="main" style="padding-top:60px;">
  <main class="content-inside px-3 py-2">
    <div class="container-fluid">
      <div class="container-fluid">
       
          <!--Table Element-->
          
          <section id="tablaUsuarios">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title" style="padding-top:15px;">
                  Usuarios
                </h5>
              </div>
              <div class="p-2">
              <table id="Usuarios" class="display table table-striped table-hover table-primary" style="width:100%">
                <thead class="encabezado">
                  <tr>
                    <th scope="col" style="color: white; text-align: start;">#</th>
                    <th scope="col" style="color: white; text-align: start;">Usuario</th>
                    <th scope="col" style="color: white; text-align: start;">Teléfono</th>
                    <th scope="col" style="color: white; text-align: start;">Email</th>
                    <th scope="col" style="color: white; text-align: start;">Rol</th>
                  </tr>
                </thead>
                <tbody>
                  {% for usuario in usuarios %}
                  <tr>
                    <td style="text-align: start;">{{ forloop.counter }}</td>
                    <td style="text-align: start;">{{ usuario.username }}</td>
                    <td style="text-align: start;">
                      {% if usuario.telefono %}
                      {{ usuario.telefono }}
                      {% else %}
                      N/A
                      {% endif %}
                    </td>
                    <td style="text-align: start;text-decoration: none;">
                      {% if usuario.email %}
                      <a class="iconos" style="text-align: start;text-decoration: none;" href="mailto:{{ usuario.email }}">{{ usuario.email }}</a>
                      {% else %}
                      N/A
                      {% endif %}
                    </td>
                    <td style="text-align: start;">{{ usuario.groups.all.0 }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
        </section>
        <section class="mb-2 row row-gap-1">
            <section class="col-md-6 col-sm-12" id="graficaPieTrámites">
                <div class="card">
                   <div class="p-2">
                    <div id="container">
                    </div>
                  </div>
                </div>
            </section>
            <section class="col-md-6 col-sm-12" id="graficaPieTrámites">
                <div class="card">
                   <div class="p-2">
                    <div id="containerPastel">
                    </div>
                  </div>
                </div>
            </section>
        </section>
        
      </div>
  </main>
</div>
 
  {% endblock %}

  <!-- Conatiner JS -->
  {% block js%}
  <script src="{% static 'Plataforma/libs/Datatable/JS/jquery-3.7.1.js' %}"></script>
  <script src="{% static 'Plataforma/libs/Datatable/JS/dataTables.js' %}"></script>
  <script src="{% static 'Plataforma/libs/Datatable/JS/dataTables.bootstrap5.js' %}"></script>
  
  <script src="{% static 'libs/Datatable/JS/dataTables.buttons.js' %}"></script>
  <script src="{% static 'libs/Datatable/JS/buttons.bootstrap5.js' %}"></script>
  <script src="{% static 'libs/Datatable/JS/jszip.min.js' %}"></script>
  <script src="{% static 'libs/Datatable/JS/pdfmake.min.js' %}"></script>
  <script src="{% static 'libs/Datatable/JS/vfs_fonts.js' %}"></script>
  <script src="{% static 'libs/Datatable/JS/buttons.html5.min.js' %}"></script>
  <script src="{% static 'libs/Datatable/JS/buttons.print.min.js' %}"></script>
  <script src="{% static 'libs/Datatable/JS/bottons.colVis.min.js' %}"></script>
  
  <script src="{% static 'libs/Datatable/JS/dataTables.responsive.js' %}"></script>
  <script src="{% static 'libs/Datatable/JS/responsive.bootstrap5.js' %}"></script>
  
  <script src="{% static 'libs/Datatable/JS/Usuarios_expo.js' %}"></script>
  <script src="{% static 'libs/Highcharts/code/highcharts.js' %}"></script>
  <script src="{% static 'libs/Highcharts/code/modules/accessibility.js' %}"></script>
  <script src="{% static 'libs/Highcharts/code/modules/exporting.js' %}"></script>
  <script src="{% static 'libs/Highcharts/code/modules/offline-exporting.js' %}"></script>
  <script src="{% static 'libs/Highcharts/code/modules/export-data.js' %}"></script>
  
  <script>
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Usuarios'
        },
        xAxis: {
            categories: {{ categorias|safe }}
        },
        series: [{
            name: 'Usuarios',
            data: {{ data_usuarios_por_mes|safe }}
        }]
    });
    Highcharts.chart('containerPastel', {
        chart: {
            type: 'pie'
        },
        title: {
            text: 'Usuarios Creados por Mes'
        },
        series: [{
            name: 'Usuarios',
            data: {{ data_usuarios_por_mes|safe }}
        }]
    });
    </script>
  {% endblock %}
  <!-- End Conatiner JS -->
