{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Conatiner CSS -->
    <link rel="stylesheet" href="{% static 'Usuarios/css/Registrar.css' %}">
    <link rel="stylesheet" href="{% static 'Usuarios/libs/boxicons-2.1.4/css/boxicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'Usuarios/libs/Bootstrap/css/bootstrap.min.css' %}">
    <link rel="icon" type="image/png" sizes="50x50" href="{% static 'Usuarios/img/Id UHo-03-white.png' %}">
    <!-- End Conatiner CSS -->
    <title>Trámites Universidad de Holguín</title>
</head>

<body>
    {% if response %}
    {% if response == 'incorrecto' %}

    <div style=" position: absolute; right: 20px; top:10px; display: flex; align-items: center; padding-right: 0rem;margin-left:20px"
        class="alert alert-warning alert-dismissible fade show" role="alert">
        {% for message in messages %}
        {{ message }} <br />
        {% endfor %}
        <button style="font-size: 10px; border-bottom: none; position: relative; box-shadow: none;" type="button"
            class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </button>
    </div>
    
    {% endif %}
    {% endif %}

    <div id="error-container">

    </div>


    <img class="wave" src="{% static 'Usuarios/img/wave-blue-turned.png' %}">
    <div class="container-form">
        <div class="login-container">
            <form action="." method="POST">
                {% csrf_token %}
                <img class="logo" src="" alt="">
                <h2 style="color:#005296;">Registrarse</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="bx bxs-user"></i>
                    </div>
                    <div>
                        <h5>Usuario</h5>
                        <input class="input" name="username" type="text" id="username" required>
                    </div>
                </div>
                <div class="input-div two">
                    <div class="i">
                        <i class="bx bxs-envelope"></i>
                    </div>
                    <div>
                        <h5>Email</h5>
                        <input class="input" name="email" id="email" type="email" required>
                    </div>
                </div>
                <div class="input-div three">
                    <div class="i">
                        <i class="bx bxs-lock-alt"></i>
                    </div>
                    <div>
                        <h5>Contraseña</h5>
                        <input class="input" name="password1" id="password1" type="password" required>
                    </div>
                </div>
                <div class="input-div three">
                    <div class="i">
                        <i class="bx bxs-lock-alt"></i>
                    </div>
                    <div>
                        <h5>Repetir Contraseña</h5>
                        <input class="input" name="password2" id="password2" type="password" required>
                    </div>
                </div>
                <a class="a" href="{% url 'Login' %}">¿Ya tienes cuenta? Inicia sesión</a>
                <input type="submit" class="btn1" id="boton" value="Crear cuenta">
            </form>
        </div>
        <div class="img">
            <img src="{% static 'Usuarios/img/undraw_sign_up_n6im.svg' %}" alt="">
        </div>
    </div>

    <!-- Conatiner JS -->
    <script src="{% static 'Usuarios/js/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'Usuarios/js/popper.min.js' %}"></script>
    <script src="{% static 'Usuarios/js/Registrar.js' %}"></script>
    <script src="{% static 'Usuarios/js/InputR.js' %}"></script>
    <script src="{% static 'Usuarios/libs/Bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- End Conatiner JS -->

</body>

</html>